.Archetype .aa.id0 .icon { background-position: -1px -1px; }
.Archetype .aa.id1 .icon { background-position: -45px -1px; }
.Archetype .aa.id2 .icon { background-position: -89px -1px; }
.Archetype .aa.id3 .icon { background-position: -133px -1px; }
.Archetype .aa.id4 .icon { background-position: -177px -1px; }
.Archetype .aa.id5 .icon { background-position: -221px -1px; }
.Archetype .aa.id6 .icon { background-position: -265px -1px; }
.Archetype .aa.id7 .icon { background-position: -309px -1px; }
.Archetype .aa.id8 .icon { background-position: -353px -1px; }
.Archetype .aa.id9 .icon { background-position: -397px -1px; }
.Archetype .aa.id10 .icon { background-position: -441px -1px; }
.Archetype .aa.id11 .icon { background-position: -485px -1px; }
.Archetype .aa.id12 .icon { background-position: -529px -1px; }
.Archetype .aa.id13 .icon { background-position: -573px -1px; }
.Archetype .aa.id14 .icon { background-position: -617px -1px; }
.Archetype .aa.id15 .icon { background-position: -661px -1px; }
.Archetype .aa.id16 .icon { background-position: -705px -1px; }
.Archetype .aa.id17 .icon { background-position: -749px -1px; }
.Archetype .aa.id18 .icon { background-position: -793px -1px; }
.Archetype .aa.id19 .icon { background-position: -837px -1px; }
.Archetype .aa.id20 .icon { background-position: -881px -1px; }
.Archetype .aa.id21 .icon { background-position: -925px -1px; }
.Archetype .aa.id22 .icon { background-position: -969px -1px; }
.Archetype .aa.id23 .icon { background-position: -1013px -1px; }
.Archetype .aa.id24 .icon { background-position: -1057px -1px; }
.Archetype .aa.id25 .icon { background-position: -1101px -1px; }
.Archetype .aa.id26 .icon { background-position: -1145px -1px; }
.Class .aa.id0 .icon { background-position: -1px -45px; }
.Class .aa.id1 .icon { background-position: -45px -45px; }
.Class .aa.id2 .icon { background-position: -89px -45px; }
.Class .aa.id3 .icon { background-position: -133px -45px; }
.Class .aa.id4 .icon { background-position: -177px -45px; }
.Class .aa.id5 .icon { background-position: -221px -45px; }
.Class .aa.id6 .icon { background-position: -265px -45px; }
.Class .aa.id7 .icon { background-position: -309px -45px; }
.Class .aa.id8 .icon { background-position: -353px -45px; }
.Class .aa.id9 .icon { background-position: -397px -45px; }
.Class .aa.id10 .icon { background-position: -441px -45px; }
.Class .aa.id11 .icon { background-position: -485px -45px; }
.Class .aa.id12 .icon { background-position: -529px -45px; }
.Class .aa.id13 .icon { background-position: -573px -45px; }
.Class .aa.id14 .icon { background-position: -617px -45px; }
.Class .aa.id15 .icon { background-position: -661px -45px; }
.Class .aa.id16 .icon { background-position: -705px -45px; }
.Class .aa.id17 .icon { background-position: -749px -45px; }
.Class .aa.id18 .icon { background-position: -793px -45px; }
.Class .aa.id19 .icon { background-position: -837px -45px; }
.Class .aa.id20 .icon { background-position: -881px -45px; }
.Class .aa.id21 .icon { background-position: -925px -45px; }
.Class .aa.id22 .icon { background-position: -969px -45px; }
.Class .aa.id23 .icon { background-position: -1013px -45px; }
.Class .aa.id24 .icon { background-position: -1057px -45px; }
.Class .aa.id25 .icon { background-position: -1101px -45px; }
.Class .aa.id26 .icon { background-position: -1145px -45px; }
.Class .aa.id27 .icon { background-position: -1189px -45px; }
.Class .aa.id28 .icon { background-position: -1233px -45px; }
.Class .aa.id29 .icon { background-position: -1277px -45px; }
.Class .aa.id30 .icon { background-position: -1321px -45px; }
.Class .aa.id31 .icon { background-position: -1365px -45px; }
.Shadows .aa.id0 .icon { background-position: -1px -89px; }
.Shadows .aa.id1 .icon { background-position: -45px -89px; }
.Shadows .aa.id2 .icon { background-position: -89px -89px; }
.Shadows .aa.id3 .icon { background-position: -133px -89px; }
.Shadows .aa.id4 .icon { background-position: -177px -89px; }
.Shadows .aa.id5 .icon { background-position: -221px -89px; }
.Shadows .aa.id6 .icon { background-position: -265px -89px; }
.Shadows .aa.id7 .icon { background-position: -309px -89px; }
.Shadows .aa.id8 .icon { background-position: -353px -89px; }
.Shadows .aa.id9 .icon { background-position: -397px -89px; }
.Shadows .aa.id10 .icon { background-position: -441px -89px; }
.Shadows .aa.id11 .icon { background-position: -485px -89px; }
.Shadows .aa.id12 .icon { background-position: -529px -89px; }
.Shadows .aa.id13 .icon { background-position: -573px -89px; }
.Shadows .aa.id14 .icon { background-position: -617px -89px; }
.Shadows .aa.id15 .icon { background-position: -661px -89px; }
.Shadows .aa.id16 .icon { background-position: -705px -89px; }
.Shadows .aa.id17 .icon { background-position: -749px -89px; }
.Shadows .aa.id18 .icon { background-position: -793px -89px; }
.Shadows .aa.id19 .icon { background-position: -837px -89px; }
.Shadows .aa.id20 .icon { background-position: -881px -89px; }
.Shadows .aa.id21 .icon { background-position: -925px -89px; }
.Shadows .aa.id22 .icon { background-position: -969px -89px; }
.Shadows .aa.id23 .icon { background-position: -1013px -89px; }
.Shadows .aa.id24 .icon { background-position: -1057px -89px; }
.Shadows .aa.id25 .icon { background-position: -1101px -89px; }
.Shadows .aa.id26 .icon { background-position: -1145px -89px; }
.Shadows .aa.id27 .icon { background-position: -1189px -89px; }
.Heroic .aa.id0 .icon { background-position: -1px -133px; }
.Heroic .aa.id1 .icon { background-position: -45px -133px; }
.Heroic .aa.id2 .icon { background-position: -89px -133px; }
.Heroic .aa.id3 .icon { background-position: -133px -133px; }
.Heroic .aa.id4 .icon { background-position: -177px -133px; }
.Heroic .aa.id5 .icon { background-position: -221px -133px; }
.Heroic .aa.id6 .icon { background-position: -265px -133px; }
.Heroic .aa.id7 .icon { background-position: -309px -133px; }
.Heroic .aa.id8 .icon { background-position: -353px -133px; }
.Heroic .aa.id9 .icon { background-position: -397px -133px; }
.Heroic .aa.id10 .icon { background-position: -441px -133px; }
.Heroic .aa.id11 .icon { background-position: -485px -133px; }
.Heroic .aa.id12 .icon { background-position: -529px -133px; }
.Tradeskill .aa.id0 .icon { background-position: -1px -177px; }
.Tradeskill .aa.id1 .icon { background-position: -45px -177px; }
.Tradeskill .aa.id2 .icon { background-position: -89px -177px; }
.Tradeskill .aa.id3 .icon { background-position: -133px -177px; }
.Tradeskill .aa.id4 .icon { background-position: -177px -177px; }
.Tradeskill .aa.id5 .icon { background-position: -221px -177px; }
.Tradeskill .aa.id6 .icon { background-position: -265px -177px; }
.Tradeskill .aa.id7 .icon { background-position: -309px -177px; }
.Tradeskill .aa.id8 .icon { background-position: -353px -177px; }
.Prestige .aa.id0 .icon { background-position: -1px -221px; }
.Prestige .aa.id1 .icon { background-position: -45px -221px; }
.Prestige .aa.id2 .icon { background-position: -89px -221px; }
.Prestige .aa.id3 .icon { background-position: -133px -221px; }
.Prestige .aa.id4 .icon { background-position: -177px -221px; }
.Prestige .aa.id5 .icon { background-position: -221px -221px; }
.Prestige .aa.id6 .icon { background-position: -265px -221px; }
.Prestige .aa.id7 .icon { background-position: -309px -221px; }
.Prestige .aa.id8 .icon { background-position: -353px -221px; }
.Prestige .aa.id9 .icon { background-position: -397px -221px; }
.Prestige .aa.id10 .icon { background-position: -441px -221px; }
.Prestige .aa.id11 .icon { background-position: -485px -221px; }
.Prestige .aa.id12 .icon { background-position: -529px -221px; }
.Prestige .aa.id13 .icon { background-position: -573px -221px; }
.Prestige .aa.id14 .icon { background-position: -617px -221px; }
.Prestige .aa.id15 .icon { background-position: -661px -221px; }
.Prestige .aa.id16 .icon { background-position: -705px -221px; }
.Prestige .aa.id17 .icon { background-position: -749px -221px; }
.Prestige .aa.id18 .icon { background-position: -793px -221px; }
.Prestige .aa.id19 .icon { background-position: -837px -221px; }
.Prestige .aa.id20 .icon { background-position: -881px -221px; }
.Prestige .aa.id21 .icon { background-position: -925px -221px; }
.TradeskillPrestige .aa.id0 .icon { background-position: -1px -265px; }
.TradeskillPrestige .aa.id1 .icon { background-position: -45px -265px; }
.TradeskillPrestige .aa.id2 .icon { background-position: -89px -265px; }
.TradeskillPrestige .aa.id3 .icon { background-position: -133px -265px; }
.TradeskillPrestige .aa.id4 .icon { background-position: -177px -265px; }
.TradeskillPrestige .aa.id5 .icon { background-position: -221px -265px; }
.TradeskillPrestige .aa.id6 .icon { background-position: -265px -265px; }
.TradeskillPrestige .aa.id7 .icon { background-position: -309px -265px; }
.TradeskillPrestige .aa.id8 .icon { background-position: -353px -265px; }
.TradeskillPrestige .aa.id9 .icon { background-position: -397px -265px; }
.TradeskillPrestige .aa.id10 .icon { background-position: -441px -265px; }
.TradeskillPrestige .aa.id11 .icon { background-position: -485px -265px; }
.TradeskillPrestige .aa.id12 .icon { background-position: -529px -265px; }
.TradeskillPrestige .aa.id13 .icon { background-position: -573px -265px; }
.TradeskillPrestige .aa.id14 .icon { background-position: -617px -265px; }
.Dragon .aa.id0 .icon { background-position: -1px -309px; }
.Dragon .aa.id1 .icon { background-position: -45px -309px; }
.Dragon .aa.id2 .icon { background-position: -89px -309px; }
.Dragon .aa.id3 .icon { background-position: -133px -309px; }
.Dragon .aa.id4 .icon { background-position: -177px -309px; }
.Dragon .aa.id5 .icon { background-position: -221px -309px; }
.Dragon .aa.id6 .icon { background-position: -265px -309px; }
.Dragon .aa.id7 .icon { background-position: -309px -309px; }
.Dragon .aa.id8 .icon { background-position: -353px -309px; }
.Dragon .aa.id9 .icon { background-position: -397px -309px; }
.Dragon .aa.id10 .icon { background-position: -441px -309px; }
.Dragon .aa.id11 .icon { background-position: -485px -309px; }
.Dragon .aa.id12 .icon { background-position: -529px -309px; }
.Dragon .aa.id13 .icon { background-position: -573px -309px; }
.Dragon .aa.id14 .icon { background-position: -617px -309px; }
.Dragon .aa.id15 .icon { background-position: -661px -309px; }
.Dragon .aa.id16 .icon { background-position: -705px -309px; }
.Dragon .aa.id17 .icon { background-position: -749px -309px; }
.Dragon .aa.id18 .icon { background-position: -793px -309px; }
.Dragon .aa.id19 .icon { background-position: -837px -309px; }